{
  "method" : "POST",
  "username": "my_username",
  "password": "my_password",
  "url": "https://api.some_web_site.com/lisitngs/", 
  "post_headers" : {
      "Content-Type": "application/x-www-form-urlencoded"
    }, 
  "property_mapping": {
    "field1": { "target_field": "endpoint_field_1"},
    "field2": { "target_field": "endpoint_field_2"},
    "field3": { "target_field": "endpoint_field_3"},
    "field4": { "target_field": "field_4"},
    "field5": { "target_field": "field_5"}
  },
  "additional_properties": {
    "system_id": 12,
    "special_key": "0cf18148-1687-11ee-be56-0242ac120002"
  },
  "filter_rules": {
    "field1": { "type": "equals", "value": true },
    "field2": { "type": "not_equals", "value": "123" },
    "field3": { "type": "is_empty", "value": false }
  }
}
